# python stuff
__pycache__/
*.py[cod]
.ipynb_checkpoints
tox.ini
*.egg-info/

# project spcecific stuff
TODOS.md
builds/
build/

## results, data or temp files written during runs
output/
port_*.txt
tests/data/
test/*.json

# pycharm specific stuff
.idea

.vscode/
