# python stuff
__pycache__/
*.py[cod]
.ipynb_checkpoints
.flake8
*.egg-info/

# docs
docs/_build/*
# project spcecific stuff
TODOS.md
builds/
coverage_report/

## results, data or temp files written during runs
output/
port_*.txt
tests/data/
test/*.json
test_run

# pycharm specific stuff
.idea