[submodule "dacbench/envs/rl-plan"]
	path = dacbench/envs/rl-plan
	url = https://github.com/speckdavid/rl-plan.git
[submodule "docs/_themes/sphinx_rtd_theme"]
	path = docs/_themes/sphinx_rtd_theme
	url = https://github.com/readthedocs/sphinx_rtd_theme.git
