backpack-for-pytorch==1.2.0
certifi==2021.5.30
cloudpickle==1.2.2
cma==2.7.0
cycler==0.11.0
DACBench @ file:///C:/Users/User/DACBench
dataclasses==0.8
future==0.18.2
gym==0.15.3
IOHexperimenter==0.2.9.2
kiwisolver==1.3.1
llvmlite==0.36.0
matplotlib==3.1.3
modcma==0.0.2.8.2
ModEA==0.4.0
numba==0.53.1
numpy==1.18.0
pandas==1.0.3
Pillow==8.4.0
pyglet==1.3.2
pyparsing==3.0.9
Pyro4==4.80
python-dateutil==2.8.2
pytz==2022.1
scipy==1.4.1
seaborn==0.11.0
serpent==1.40
six==1.16.0
sobol-seq==0.2.0
torch==1.9.0
torchvision==0.10.0
typing_extensions==4.1.1
wincertstore==0.2
